.calc-output
{
  display: flex;
  width: 20vw;
  background-color: rgba(31, 29, 29, 0.75);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height:7vh;
  padding:1rem;
  border:1px solid whitesmoke;
  border-radius: 10px;
  margin-bottom: 25px;
}