
.calc-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.calc-body {
  color: #ffffff;
  border:2px solid whitesmoke;
  border-radius: 20px;
  padding:1rem;
width:300px;
overflow-x: hidden;
}

.calc-mode
{
  display: flex;
  justify-content: space-evenly;
  height:8vh;
} 
.blank
{
  height:8vh;
}
